@import '../../../styles/variables.scss';

.btn {
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 1.25rem 2.5rem;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.primary {
    background: -webkit-linear-gradient($primary-color, $secondary-color);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
  }

  &.secondary {
    background: white;
    color: $text-color;
    font-weight: bold;
    font-size: 1rem;
  }

  &.login {
    padding: 0.75rem 1.5rem;
    background: $primary-color;
    color: $gray-bg;
    font-size: 1.5rem;
  }
}
