<section class="form-section">
  <div class="text">
    <h3>
      Estude se divertindo!
    </h3>
    <p>
      Aprenda com a gente!
      Lorem ipsum dolor sit amet consectetur adipisicing
      Lorem ipsum dolor sit amet consectetur adipisicing
      Lorem ipsum dolor sit amet consectetur adipisicing
      Lorem ipsum dolor sit amet consectetur adipisicing
      Lorem ipsum dolor sit amet consectetur adipisicing
      Lorem ipsum dolor sit amet consectetur adipisicing
      Lorem ipsum dolor sit amet consectetur adipisicing
      Lorem ipsum dolor sit amet consectetur adipisicing
    </p>
  </div>
  <form>
    <label for="name">Nome</label>
    <input id="name"/>
    <label for="email">Email</label>
    <input id="email"/>
    <btn-primary-landing btn-text="Enviar" variant="secondary"></btn-primary-landing>
  </form>
</section>
